@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* navbar */

.nav {
  position: sticky;
  margin-top: 0;
  z-index: 999;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background-color: #Fcfcfc;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between
}
a {
  color: #020912;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
}
.nav .logo {
  font-size: 30px;
  color: #020912;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.nav .logo span{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .logo {
   text-align: center;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .logo {
    text-align: center;
   }
}
@media screen and (max-width: 768px) {
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
    color: #020912;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .navOpenBtn{
    margin-right: 20px;
    transform: scale(1.1);
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #Fcfcfc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #020912;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #020912;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn{
    padding-top: 50px;
}
.nav .logo {
  text-align: center;
 }
}



.landing{
  width: 100%;
  background-image: linear-gradient(#fcfcfc 50%, #020912 50%);
  height: 180vh;
}
.top-half{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #Fcfcfc;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}


.top-half h1{
  color: #020912;
  font-size: 90px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 60px;
}
.top-half h3{
  color: #020912;
  font-size: 20px;
  letter-spacing: 0.75px;
  font-family: 'JetBrains Mono', monospace;
  padding: 10px 70px;
  z-index: 5;
  font-weight: 400;
}
.btn{
  margin-top: 20px;
}

.btn button{
  font-size: 18px;
  background: #020912;
  color: #fcfcfc;
  text-decoration: none;
  border: none;
  padding: 13px 35px;
  transition: 0.5s;
  cursor: pointer;
}
.btn button a{
  color: #fcfcfc;
}
.btn button:hover{
  transform: scale(1.01);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.phone-container img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  margin-top: 60vh;
  z-index: 900;
}

@media screen and (max-width: 768px){
  
  .top-half{
    margin: 0px;
    height: 200px;
    margin-top: 3vh;
  }
  
  .top-half h1{
    font-size: 35px;
    margin: 0px;
  }

  .top-half h3{
    font-size: 15px;
    margin: 0px;
    padding: 10px 10px;
  }

  .top-half .btn{
    margin: 5px;
  }

  .phone-container img{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-top: 45vh;
    /* width: calc(110%);
    transform: scale(0.8); */
  }
}



/* ABOUT US SECTION 2 */



.rich-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px 222px;
  margin-top: 155vh;
  margin-bottom: 15vh;
  z-index: 50;
}
.rich-text h2{
    font-size: 90px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.75px;
    margin-bottom: 25px;
}

.rich-text h3{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.63px;
  margin-bottom: 20px;
  font-family: 'JetBrains Mono', monospace;
}



@media screen and (max-width: 768px){
  .rich-text{
    padding: 10px;
    margin-bottom: 30px;
  }
  .rich-text h2{
    font-size: 28px;
  }
  .rich-text h3{
    padding: 0px 10px;
    font-size: 15px;
  }
}

/* ABOUT US PART 2 */

.conjunction-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 2px solid #020912;
  max-width: 100%;
}

.conjunction-container .cc-img img{
  height: max-content;
  width:  595px;
}

.conjunction-container .cc-content{
  padding: 0px 55px;
  align-content: center;
  text-align: center;
}

.cc-content span{
  font-size: 12.6px;
  letter-spacing: 1.68px;
  line-height: 15px;
  font-family: 'JetBrains Mono', monospace;
}

.cc-content h2{
  font-size: 50px;
  letter-spacing: 0.75px;
  line-height: 62.6px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.cc-content h3{
  font-size: 16.8px;
  letter-spacing: 0.63px;
  font-family: 'JetBrains Mono', monospace;
  line-height: 29.6px;
  font-weight: 400;
  margin-bottom: 30px;
}

.cc-content .discover{
  font-size: 18px;
  background: #fcfcfc;
  color: #020912;
  text-decoration: none;
  border: 1.5px solid #020912;
  padding: 13px 30px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.cc-content .discover:hover{
  font-weight: 500;
}

@media screen and (max-width: 768px){
  .conjunction-container{
    flex-direction: column;
    margin: 13px;
    padding-bottom: 20px;
  }

  .conjunction-container .cc-img img{
    width:  100%;
  }
  .conjunction-container .cc-content{
    padding: 15px;
    align-content: center;
    text-align: center;
  }
  .cc-content span{
    font-size: 10px;
    margin: 0px;
  }
  .cc-content h2{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
  }
  .cc-content h3{
    font-size: 15px;
    margin: 0px;
    margin-bottom: 25px;
    font-weight: 500;
    padding: 0px;
  }
}

/* Part 2 */

.conjunction-container2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 2px solid #020912;
  max-width: 100%;
}

.conjunction-container2 .cc-img2 img{
  height: max-content;
  width:  595px;
}

.conjunction-container2 .cc-content2{
  padding: 0px 55px;
  align-content: center;
  text-align: center;
}

.cc-content2 span{
  font-size: 12.6px;
  letter-spacing: 1.68px;
  line-height: 15px;
  font-family: 'JetBrains Mono', monospace;
}

.cc-content2 h2{
  font-size: 50px;
  letter-spacing: 0.75px;
  line-height: 62.6px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}

.cc-content2 h3{
  font-size: 16.8px;
  letter-spacing: 0.63px;
  line-height: 29.6px;
  font-weight: 400;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 30px;
}

.cc-content2 .discover2{
  font-size: 18px;
  background: #fcfcfc;
  color: #020912;
  text-decoration: none;
  border: 1.5px solid #020912;
  padding: 13px 30px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.cc-content2 .discover2:hover{
  font-weight: 500;
}

@media screen and (max-width: 768px){
  .conjunction-container2{
    flex-direction:column-reverse;
    margin: 13px;
    padding-bottom: 20px;
  }

  .conjunction-container2 .cc-img2 img{
    width:  100%;
  }
  .conjunction-container2 .cc-content2{
    padding: 15px;
    align-content: center;
    text-align: center;
  }
  .cc-content2 span{
    font-size: 10px;
    margin: 0px;
  }
  .cc-content2 h2{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    line-height: 37px;
  }
  .cc-content2 h3{
    font-size: 15px;
    margin: 0px;
    margin-bottom: 25px;
    font-weight: 500;
    padding: 0px;
  }
}

/* SOLUTIONS */

.wholebg{
  min-height: 100vh;
  background-color: #020912;
  margin-top: 100px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.wholebg::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, #8a13ff, #800eff, #7508ff, #6903ff, #5c00ff);
  clip-path: circle(30% at right 70%);
}

.wholebg::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, #1200ff, #5800ff, #7b00ff, #9600ff, #ad00ff);
  clip-path: circle(20% at 10% 10%);
}

.glass-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200x;
  flex-wrap: wrap;
  z-index: 1;
}

.glass-container .glass-card{
  position: relative;
  width: 350px;
  height: 450px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background-color: rgba(255,255,255,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.glass-container .glass-card .glass-content{
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  opacity: 0.1;
  transform: translateY(30px);
}

.glass-container .glass-card:hover .glass-content{
  transform: translateY(20px);
  opacity: 1;
}

.glass-container .glass-card .glass-content h2{
  position: absolute;
  top: -60px;
  right: 30px;
  font-size: 8em;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
  font-family: 'Anton', sans-serif;
}

.glass-container .glass-card .glass-content h3{
 font-size: 2em;
 color: #Fcfcfc;
 z-index: 1;
 padding-bottom: 20px;
 font-family: 'Raleway', sans-serif;
}

.glass-container .glass-card .glass-content p{
  font-size: 1em;
  color: #Fcfcfc;
  font-weight: 300;
  font-family: 'JetBrains Mono', monospace;
 }

 @media screen and (max-width: 768px){
  
  .glass-container{
    margin: 0;
    padding: 0;
  }
  .glass-container .glass-card{
    width: 300px;
    height: 450px;
    margin: 20px 0px;
  }
 }
/* DASHBOARD */

.dashboard-whole{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px 222px;
  margin-top: 15vh;
  margin-bottom: 15vh;
  z-index: 50;
}
.dashboard-whole .dashboard-content h1{
    font-size: 60px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.75px;
    margin-bottom: 25px;
}

.dashboard-whole .dashboard-content h3{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.63px;
  margin-bottom: 30px;
  padding: 0px 70px;
  font-family: 'JetBrains Mono', monospace;
}

.dashboard-whole .dashboard-content img{
  width: 100%;
  border-radius: 15px;
}



@media screen and (max-width: 768px){
  .dashboard-whole{
    padding: 10px;
    margin-top: 29px;
    margin-bottom: 30px;
  }
  .dashboard-whole .dashboard-content h1{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .dashboard-whole .dashboard-content h3{
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .dashboard-whole .dashboard-content img{
    width: 100%;
  }
}


 /* ROADMAP */

 .roadmap {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagerd {
  width: 100%;
  height: 100%;
}

.imagerd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .roadmap {
    width: 100%;
    height: fit-content;
    margin-top: 0;
    background-color: #020912;
  }

  .imagerd {
    height: 100%;
  }

  .imagerd img {
    object-fit: contain;
  }
}

/* FEATURES */

.whole-features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  margin: 100px 0;

}

.whole-features span{
  font-size: 12.6px;
  letter-spacing: 1.68px;
  font-family: 'JetBrains Mono', monospace;
  line-height: 15px;
}

.whole-features h1{
  font-size: 60px;
  letter-spacing: 0.75px;
  line-height: 81.40px;
  font-weight: 500;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 10px 100px;
  margin-bottom: 30px;
}

.accordion {
  max-width: 800px;
  margin-bottom: 30px;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
  font-family: 'JetBrains Mono', monospace;
}

.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  color: #020912;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  font-family: 'Raleway', sans-serif;
}

.accordion .contentBx .label:hover{
  background-color: #f5f5f5;
}

.accordion .contentBx.active .label::before {
  content: '-';
}

.accordion .contentBx.active .context {
  height: 120px;
  padding: 10px;
}

.accordion .contentBx .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx .context {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  letter-spacing: 1.65px;
}

@media screen and (max-width: 768px){
  
  .whole-features{
    margin: 30px 0px;
  }
  
  .whole-features h1{
      font-size: 30px;
      text-align: center;
      padding: 10px;
      line-height: 35px;
      margin-bottom: 5px;
  }

  .whole-features span{
      font-size: 9px;
      letter-spacing: 1.68px;
      line-height: 15px;
      padding: 0px 15px;
      text-align: center;
  }

  .accordion .contentBx.active .context {
    height: 150px;
    padding: 10px;
  }

  
}


/* SIGN UP */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: #020912;
  height: 100%;
  z-index: 2;
}

.signup-container h1 {
  color: #fcfcfc;
  font-size: 90px;
  font-family: 'Anton', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.signup-container h2 {
  color: #fcfcfc;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
  padding: 0px 40px;

}

.signup-container h3 {
  color: #fcfcfc;
  font-size: 32px;
  font-family: 'Anton', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px; 
  margin: 0 auto;
}

.signup-container input {
  outline: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
}

.signup-button {
  padding: 12px 20px;
  background-color: #fcfcfc;
  color: #020912;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-button:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px){

  .signup-container h1 {
    font-size: 30px;
  }
  
  .signup-container h2 {
    font-size: 15px;
  }
  
  .signup-container h3 {
    font-size: 15px;
    letter-spacing: 1px;
  }
}